<div>
  <br />
  <h2>Add Recipe</h2>
  <form>
    <label>Recipe Name</label><br>
    <input #recipeName /><button (click)="addRecipes(recipeName.value);
    recipeName.value = ''">Add Recipe</button><br>
    <label>Ingredients</label><br />
    <input #name><button (click)="addIngredient(name.value);
    name.value = ''">Add Ingredient</button><br><br />
    <label>Steps</label><br />
    <input #step><button (click)="addSteps(step.value); step.value = ''">Add Steps</button><br>
    <!-- <textarea rows="5" cols="50" #step></textarea><br /> -->
    <!-- <button
      (click)="
        addRecipes(recipeName.value);
        recipeName.value = '';
        addIngredient(name.value);
        name.value = ''; addSteps(step.value); step.value = ''
        "
    >
      Add Recipe
    </button> -->
  </form>
</div>
