<div id="justify_content" *ngFor="let recipe of recipes; let i = index">
  <h5 class="card-title">{{ recipe.recipeName }}</h5>
  <div *ngFor="let ingredients of ingredients">
    <p class="card-text" *ngIf="recipe.recipeId === ingredients.recipeId">
      {{ ingredients.name }}
    </p>
  </div>
  <div *ngFor="let step of steps">
    <p class="card-text" *ngIf="recipe.recipeId === step.recipeId">
      {{ step.step }}
    </p>
  </div>
</div>

<div>
  <br />
  <h2>Add Recipe</h2>
  <form>
    <label>Recipe Name</label><br />
    <input #recipeName /><br />
    <label>Ingredients</label><br />
    <textarea rows="5" cols="50" #name></textarea><br />
    <label>Steps</label><br />
    <textarea rows="5" cols="50" #step></textarea><br />
    <button
      (click)="
        addRecipes(recipeName.value);
        recipeName.value = '';
        addIngredient(name.value);
        name.value = ''; addSteps(step.value); step.value = ''
        "
    >
      Add Recipe
    </button>
  </form>
</div>

<!-- addSteps(stepsName.value);
        stepsName = '' -->
