<!-- Left Page -->
<div class="split left">
    <div *ngIf="leftPageNumber > 1">
      <button class="turnPageLeft" (click)="turnPage(0)"></button>
    </div>
    <p class="pageNumber">{{ leftPageNumber }}</p>
  <table>
    <!-- Display Recipe -->
    <tr *ngIf="showEditRecipeName; else elseBlock">
      <td colspan="2" class="recipeName">{{ this.recipes[this.leftPageNumber - 1].recipeName }}</td>
    </tr>
    <ng-template #elseBlock>
      <tr>
      <div class="editRecipeName">
        <div>
          <!-- Delete Recipe -->
          <button (click)="deleteRecipe(this.recipes[this.leftPageNumber-1]);">
            X
          </button>
        </div>
        <div>
          <input class="editRecipeText"type="text" size="1" value={{this.recipes[this.leftPageNumber-1].recipeName}} />
        </div>
      </div>
    </tr>
    </ng-template>
      <th>
        <!-- Display Ingredients Left Column-->
        <div *ngFor="let recipeIngredient of getHalfIngredientsFromRecipe(this.recipes[this.leftPageNumber - 1].recipeId, 0)">
            <div *ngIf="showEditIngredients; else elseBlock">
              <td>
                {{recipeIngredient.name}}
              </td>
            </div>
              <ng-template #elseBlock>
              <div class="flex">
                <div>
                  <!-- Delete ingredient -->
                  <button (click)="deleteIngredient(recipeIngredient, this.recipes[this.leftPageNumber - 1].recipeId)">
                    X
                  </button>
                </div>
                <div>
                    <input type="text" size="1" value={{recipeIngredient.name}} />
                </div>
              </div>
            </ng-template>
        </div>
      </th>
      <th>
        <!-- Display Ingredients Right Column-->
        <div *ngFor="let recipeIngredient of getHalfIngredientsFromRecipe(this.recipes[this.leftPageNumber - 1].recipeId, 1); let i = index">
          <div *ngIf="showEditIngredients; else elseBlock">
            <td>
              {{recipeIngredient.name}}
            </td>
          </div>
          <ng-template #elseBlock>
          <div class="flex">
            <div>
              <!-- Delete ingredient -->
              <button (click)="deleteIngredient(recipeIngredient, this.recipes[this.leftPageNumber - 1].recipeId)">
                X
              </button>
            </div>
            <div>
                <input type="text" size="1" value={{recipeIngredient.name}} />
            </div>
          </div>
        </ng-template>
        </div>
        <div class="flex">
          <div>
            <!-- Add ingredient -->
            <button [hidden]="showEditIngredients" (click)="addIngredient(ingredientNameLeft.value, this.recipes[this.leftPageNumber - 1].recipeId - 1); ingredientNameLeft.value=''">
              Add
            </button>
          </div>
          <div>
            <input [hidden]="showEditIngredients" size="1" #ingredientNameLeft/>
          </div>
        </div>
      </th>
    </table>
    <!-- Display Steps -->
  <div class="steps">
      <ol>
        <div *ngFor="let step of getStepsFromRecipe(this.recipes[this.leftPageNumber - 1].recipeId)">
          <div *ngIf="showEditSteps; else elseBlock3">
          <li>
            {{ step.step }}
          </li>
        </div>
        <ng-template #elseBlock3>
          <div class="flex">
            <div>
              <!-- Delete a step -->
              <button (click)="deleteStep(step)">
                X
              </button>
            </div>
            <div>
                <input type="text" class="stepInput" value={{step.step}} #StepLeft/>
            </div>
            <button (click)="updateSteps(StepLeft.value, step)">
              Save
            </button>
          </div>
        </ng-template>
      </div>
      </ol>
      <div class="flex" id="StepDiv">
          <div>
            <!-- Add a step -->
            <button [hidden]="showEditSteps" (click)="addSteps(stepvalue.value, this.recipes[this.leftPageNumber - 1].recipeId - 1); stepvalue.value=''">
              ADD
            </button>
          </div>
          <div>
            <input [hidden]="showEditSteps" type="text" class="stepInput" #stepvalue />
          </div>
        </div>
    </div>
  </div>
=======
<h2>test</h2>


<!-- Right Page -->
<div class="split right">
    <div *ngIf="this.rightPageNumber < this.recipes.length">
      <button class="turnPageRight" (click)="turnPage(1)"></button>
    </div>
    <!-- Toggle button for editing recipe name -->
    <button (click)="toggleEdit(editType.RECIPENAME)">
      {{buttonShowEditRecipeName}}
    </button>
    <!-- Toggle button for editing ingredients -->
    <button (click)="toggleEdit(editType.INGREDIENTS)">
      {{buttonShowEditIngredients}}
    </button>
    <!-- Toggle button for editing steps -->
    <button (click)="toggleEdit(editType.STEPS)">
      {{buttonShowEditSteps}}
    </button>
  <p class="pageNumber">{{ rightPageNumber }}</p>
  <table>
    <!-- Display Recipe -->
    <tr *ngIf="showEditRecipeName; else elseBlock2">
      <td colspan="2" class="recipeName">{{ this.recipes[this.rightPageNumber - 1].recipeName }}</td>
    </tr>
    <ng-template #elseBlock2>
      <tr>
      <div class="editRecipeName">
        <div>
          <!-- Delete Recipe -->
          <button (click)="deleteRecipe(this.recipes[this.rightPageNumber - 1]);">
            X
          </button>
        </div>
        <div>
          <input class="editRecipeText"type="text" size="1" value={{this.recipes[this.rightPageNumber-1].recipeName}} #RecipeNameRight/>
        </div>
        <button (click)="updateRecipe(RecipeNameRight.value, this.recipes[this.rightPageNumber - 1])">
          Save
        </button>
      </div>
    </tr>
    </ng-template>
    <th>
      <!-- Display Ingredients Left Column-->
      <div *ngFor="let recipeIngredient of getHalfIngredientsFromRecipe(this.recipes[this.rightPageNumber - 1].recipeId, 0)">
        <div *ngIf="showEditIngredients; else elseBlock">
          <td>
            {{recipeIngredient.name}}
          </td>
        </div>
          <ng-template #elseBlock>
          <div class="flex">
            <div>
              <!-- Delete ingredient -->
              <button (click)="deleteIngredient(recipeIngredient, this.recipes[this.rightPageNumber - 1].recipeId)">
                X
              </button>
            </div>
            <div>
                <input type="text" size="1" value={{recipeIngredient.name}} />
            </div>
          </div>
        </ng-template>
    </div>
  </th>
  <th>
    <!-- Display Ingredients Right Column-->
    <div *ngFor="let recipeIngredient of getHalfIngredientsFromRecipe(this.recipes[this.rightPageNumber - 1].recipeId, 1); let i = index">
      <div *ngIf="showEditIngredients; else elseBlock">
        <td>
          {{recipeIngredient.name}}
        </td>
      </div>
      <ng-template #elseBlock>
      <div class="flex">
        <div>
          <!-- Delete ingredient -->
          <button (click)="deleteIngredient(recipeIngredient, this.recipes[this.rightPageNumber - 1].recipeId)">
            X
          </button>
        </div>
        <div>
            <input type="text" size="1" value={{recipeIngredient.name}} />
        </div>
      </div>
    </ng-template>
    </div>
    <div class="flex">
      <div>
        <!-- Add ingredient -->
        <button [hidden]="showEditIngredients" (click)="addIngredient(ingredientNameRight.value, this.recipes[this.rightPageNumber - 1].recipeId - 1); ingredientNameRight.value=''">
          Add
        </button>
      </div>
      <div>
        <input [hidden]="showEditIngredients" size="1" #ingredientNameRight/>
      </div>
    </div>
  </th>
</table>
  <!-- Display Steps -->
  <div class="steps">
    <ol>
      <div *ngFor="let step of getStepsFromRecipe(this.recipes[this.rightPageNumber - 1].recipeId)">
        <div *ngIf="showEditSteps; else elseBlock3">
        <li>
          {{ step.step }}
        </li>
      </div>
      <ng-template #elseBlock3>
        <div class="flex">
          <div>
            <!-- Delete a step -->
            <button (click)="deleteStep(step)">
              X
            </button>
          </div>
          <div>
              <input type="text" class="stepInput" value={{step.step}} #StepRight/>
          </div>
          <button (click)="updateSteps(StepRight.value, step)">
            Save
          </button>
        </div>
      </ng-template>
    </div>
    </ol>
    <div class="flex" id="StepDiv">
      <div>
        <!-- Add a step -->
        <button [hidden]="showEditSteps" (click)="addSteps(step.value, this.recipes[rightPageNumber - 1].recipeId - 1); step.value=''">
          ADD
        </button>
      </div>
      <div>
        <input [hidden]="showEditSteps" type="text" class="stepInput" #step />
      </div>
    </div>
  </div>
</div>

