
<!-- Left Page -->
<div class="split left">
    <div *ngIf="leftPageNumber > 1">
      <button class="turnPageLeft" (click)="turnPage(0)"></button>
    </div>
    <!-- Display Recipe -->
    <p class="pageNumber">{{ leftPageNumber }}</p>

    <div *ngIf="show; else elseBlock">
      <h1>{{ this.recipes[leftPageNumber - 1].recipeName }}</h1>
    </div>
    <ng-template #elseBlock>
      <div class="flex">
        <div>
          <!-- Delete ingredient -->
          <button (click)="deleteRecipe(this.recipes[leftPageNumber - 1])">
            X
          </button>
        </div>
        <div>
            <input type="text" size="1" value={{this.recipes[leftPageNumber-1].recipeName}} />
        </div>
      </div>
    </ng-template>
    <table>
      <th>
        <!-- Display Ingredients Left Column-->
        <div *ngFor="let recipeIngredient of getHalfIngredientsFromRecipe(leftPageNumber, 0)">
            <div *ngIf="show; else elseBlock">
              <td>
                {{recipeIngredient.name}}
              </td>
            </div>
              <ng-template #elseBlock>
              <div class="flex">
                <div>
                  <!-- Delete ingredient -->
                  <button (click)="deleteIngredient(recipeIngredient);">
                    X
                  </button>
                </div>
                <div>
                    <input type="text" size="1" value={{recipeIngredient.name}} />
                </div>
              </div>
            </ng-template>
        </div>
      </th>
      <th>
        <!-- Display Ingredients Right Column-->
        <div *ngFor="let recipeIngredient of getHalfIngredientsFromRecipe(leftPageNumber, 1); let i = index">
          <div *ngIf="show; else elseBlock">
            <td>
              {{recipeIngredient.name}}
            </td>
          </div>
          <ng-template #elseBlock>
          <div class="flex">
            <div>
              <!-- Delete ingredient -->
              <button (click)="deleteIngredient(recipeIngredient)">
                X
              </button>
            </div>
            <div>
                <input type="text" size="1" value={{recipeIngredient.name}} />
            </div>
          </div>
        </ng-template>
        </div>
        <div class="flex">
          <div>
            <!-- Add ingredient -->
            <button [hidden]="show" (click)="addIngredient(ingredientNameLeft.value, this.recipes[this.leftPageNumber - 1].recipeId - 1); ingredientNameLeft.value=''">
              Add
            </button>
          </div>
          <div>
            <input [hidden]="show" size="1" #ingredientNameLeft/>
          </div>
        </div>
      </th>
    </table>
    <!-- Display Steps -->
  <div class="steps">
      <ol>
        <div *ngFor="let step of steps">
          <li *ngIf="this.recipes[this.leftPageNumber - 1].recipeId === step.recipeId">
             {{ step.step }}
          </li>
        </div>
      </ol>
      <div class="flex" id="StepDiv">
          <div>
            <!-- Add a step -->
            <button [hidden]="show" (click)="addSteps(step.value, this.recipes[this.leftPageNumber - 1].recipeId - 1); step.value=''">
              ADD
            </button>
          </div>
          <div>
            <input [hidden]="show" type="text" class="stepInput" #step />
          </div>
        </div>
    </div>
  </div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~PAGE DIVIDER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- Right Page -->
<div class="split right">
    <div *ngIf="this.rightPageNumber < this.recipes.length - 1">
      <button class="turnPageRight" (click)="turnPage(1)"></button>
    </div>
    <!-- Toggle button for editing-->
    <button (click)="toggle()">
      {{buttonShowEdit}}
    </button>
  <!-- Display Recipe -->
  <p class="pageNumber">{{ rightPageNumber }}</p>
  <table>
    <tr>
      <td colspan="2" class="recipeName">{{ this.recipes[this.rightPageNumber - 1].recipeName }}</td>
    </tr>
    <th>
      <!-- Display Ingredients Left Column-->
      <div *ngFor="let recipeIngredient of getHalfIngredientsFromRecipe(rightPageNumber, 0)">
        <div *ngIf="show; else elseBlock">
          <td>
            {{recipeIngredient.name}}
          </td>
        </div>
          <ng-template #elseBlock>
          <div class="flex">
            <div>
              <!-- Delete ingredient -->
              <button (click)="deleteIngredient(recipeIngredient);">
                X
              </button>
            </div>
            <div>
                <input type="text" size="1" value={{recipeIngredient.name}} />
            </div>
          </div>
        </ng-template>
    </div>
  </th>
  <th>
    <!-- Display Ingredients Right Column-->
    <div *ngFor="let recipeIngredient of getHalfIngredientsFromRecipe(rightPageNumber, 1); let i = index">
      <div *ngIf="show; else elseBlock">
        <td>
          {{recipeIngredient.name}}
        </td>
      </div>
      <ng-template #elseBlock>
      <div class="flex">
        <div>
          <!-- Delete ingredient -->
          <button (click)="deleteIngredient(recipeIngredient)">
            X
          </button>
        </div>
        <div>
            <input type="text" size="1" value={{recipeIngredient.name}} />
        </div>
      </div>
    </ng-template>
    </div>
    <div class="flex">
      <div>
        <!-- Add ingredient -->
        <button [hidden]="show" (click)="addIngredient(ingredientNameRight.value, this.recipes[this.rightPageNumber - 1].recipeId - 1); ingredientNameRight.value=''">
          Add
        </button>
      </div>
      <div>
        <input [hidden]="show" size="1" #ingredientNameRight/>
      </div>
    </div>
  </th>
</table>
  <!-- Display Steps -->
  <div class="steps">
    <ol>
      <div *ngFor="let step of steps">
        <li *ngIf="this.recipes[rightPageNumber - 1].recipeId === step.recipeId">
          {{ step.step }}
        </li>
      </div>
    </ol>
    <div class="flex" id="StepDiv">
      <div>
        <!-- Add a step -->
        <button [hidden]="show" (click)="addSteps(step.value, this.recipes[rightPageNumber - 1].recipeId - 1); step.value=''">
          ADD
        </button>
      </div>
      <div>
        <input [hidden]="show" type="text" class="stepInput" #step />
      </div>
    </div>
  </div>
</div>
